Results/*
**.png
**/__pycache__
**/__pycache__/*
**.html
**.xml
**/results*
**/Results*
**/pabot_results*
**/venv
*.code-workspace
**/.idea
**/.vscode
dev.robot
!**/Resources/Downloads/.gitkeep
**/Resources/Downloads/**
**/*driver.exe